<div class="row">
  <%= render partial: 'user_info', locals: { user: @user } %> 
  
  <div class="col-md-8">
    <h3><%= @title %> (<%= @users.count %>)</h3>
    <% if @users.any? %>
      <ol class="follow_users">
        <%= render @users %>
      </ol>
    <% end %>
  </div>
</div>